<div class="background--astral">
	<div class="wrapper">
		<div class="col-wrap prototype padding-top--1 padding-bottom--1">
			<div class="col">
				<p class="banner-content margin-bottom--0 font-xsmall"><strong class="banner__tag">alpha</strong>
					<span class="banner-text">This is a trial <a href="#" class="astral-link font-xsmall">GDP bulletin</a>, it may not be accurate. We <a href="https://www.ons.gov.uk/help/cookiesandprivacy" class="astral-link font-xsmall">measure how you use the page</a> to make improvements.</span></p>
			</div>
		</div>
	</div>
</div>
