<div class="background--astral">
	<div class="wrapper">
		<div class="col-wrap prototype padding-top--1 padding-bottom--1">

			<div class="col col--md-three-quarters col--lg-three-quarters">
				<p class="banner-content margin-bottom--0 font-xsmall"><strong class="banner__tag">alpha</strong>
					<span class="banner-text">This is a new way of getting data – your feedback will help us to improve it.</span></p>
			</div>

			<div class="col col--md-one-quarter col--lg-one-quarter" style="text-align: right;">
					<a href="#" class="astral-link font-xsmall">View original</a>
			</div>

		</div>
	</div>
</div>
