<div class="">
	<div class="wrapper">
		<div class="col-wrap background--astral prototype padding-top--2 padding-right--1 padding-bottom--2 padding-left--1">

			<div class="banner-left">
				<p class="margin-bottom--0 font-xsmall"><strong class="banner__tag">alpha</strong> This is a new way of getting data – your <a href="#" class="astral-link font-xsmall">feedback</a> will help us to improve it.</p>
			</div>

			<div class="banner-right">
					<a href="#" class="astral-link font-xsmall">View original</a>
			</div>

		</div>
	</div>
</div>
