---
layout: prototype
search: false
primary-nav: false
secondary-nav: false
language-switch: false
footer: true
title: "Violent Crime: year ending December 2017"
---

<main id="main" role="main" tabindex="-1" class="prototype">
  <!-- breadcrumb -->
  <div id="top" class="page-neutral-intro background--astral">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <nav>
            <div class="breadcrumb">
              <ol class="breadcrumb__list margin-bottom--0">
                <li class="breadcrumb__item__white">
                  <a class="breadcrumb__link astral-link" href="../collection">Crime collection: year ending December 2017</a>
                </li>
                <li class="breadcrumb__item">
                  Violent Crime
                </li>
              </ol>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>

  <!-- blue banner -->
  <div class="page-intro background--astral">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <h1 class="margin-bottom--1">{{ page.title }}</h1>
          <p class="margin-top--1 heading-medium font-weight--normal">Violent crime in England and Wales, including minor assaults, harassment and psychological abuse, wounding, physical assault and death</p>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="col-wrap">

        <div class="col release-data">
          <p class="font-xsmall margin-bottom--4">
            <span class="font-weight--bold">Release date:</span> 26 April 2018
            <br /> <span class="font-weight--bold">Next release:</span> 19 July 2018 (provisional)
            <br /></P>
            <p class="font-xsmall"><span class="font-weight--bold">This page is part of the latest collection</span> | <a class="font-color--white font-xsmall astral-link" href="../collection">View all pages in this collection</a> or
            <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/bulletins/crimeinenglandandwales/previousReleases" class="font-color--white font-xsmall astral-link">view previous collections</a>
        </div>

      </div>
    </div>
  </div>

  <!-- grey banner -->
  <div id="analysis" class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <h2>1.2 million incidents of violence: similar to the last few years </h2>
          <p class="font-xsmall">England and Wales, year ending December 1981 to year ending December 2017</p>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="col-wrap">
        <div class="col col--md-two-thirds col--lg-two-thirds background--white margin-bottom--3">
          <div class="padding-right--2 padding-bottom--0 padding-left--2 padding-top--4">
            <img style="width:100%" src="{{ "/assets/img/charts/violent_crime_chart_lg.png" | relative_url }}" class="margin-bottom--3" alt="">
            <p class="font-xxsmall margin-bottom--3">Source: Crime Survey for England and Wales, Office for National Statistics</p>
          </div>
        </div>
        <div class="col col--md-one-third col--lg-one-third padding-left-md--3">
          <ul>
            <li>Crime Survey shows long-term reductions in violent crime.</li>
            <li>About 2 in every 100 adults were a victim of violent crime.</li>
            <li>57% of violence victims did not report their experiences to the police.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- main content -->
  <div class="padding-bottom--6">
    <div class="wrapper">
      <div class="col-wrap">
        <!-- sticky nav -->
        <div class="col col--md-one-third col--lg-one-third sticky padding-right--1">
          <div class="icon-box-small margin-top--3">
            <i class="icon icon-return--dark-small"></i><p><a class="font-xsmall" href="../collection">Return to collection page</a></p>
          </div>
          <div class="">
            <h2 class="heading-xsmall margin-top--4 margin-bottom--1">On this page:</h2>
            <ul class="section-contents">
              <li>
                <a href="#analysis">Analysis of violent crime</a>
              </li>
              <li>
                <a href="#data">Violent crime data</a>
              </li>
              <li>
                <a href="#using-data">How do we measure this?</a>
              </li>
              <li>
                <a href="#using-data">What do you need to know?</a>
              </li>
              <li>
                <a href="#using-data">Glossary</a>
              </li>
              <li>
                <a href="#more-pages">More pages in this collection</a>
              </li>
              <li>
                <a href="#more-about">More about violent crime</a>
              </li>
              <li>
                <a href="#contact">Contact us</a>
              </li>
            </ul>

            <h2 class="heading-xsmall margin-top--4 margin-bottom--1">Pages in this collection:</h2>
            <ul class="section-contents">
              <li>
                <a href="../crime-overview">Crime overview</a>
              </li>
              <li>
                <a href="../fraud">Fraud</a>
              </li>
              <li>
                <a href="../homicide">Homicide</a>
              </li>
              <li>
                <a class="font-weight--bold" href="../violent-crime">Violent crime</a>
              </li>
              <li>
                <a href="../weapons-crime">Weapons crime</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- content -->
        <div class="col col--md-two-thirds col--lg-two-thirds">

          <p class="heading-medium">Crime Survey shows long-term drop in violent crime but little change in recent years</p>
          <p>Around 2 in every 100 adults were a victim of violent crime in the latest survey year, compared with around 3 in 100 adults in the year ending March 2007 and 5 in 100 adults in 1995 (the peak year).</p>
          <p>However, in the year ending March 2017, the Crime Survey for England and Wales (CSEW) showed that more than half of violent crime victims (57%) did not report their experiences to the police.</p>
          <p>This is a return to levels seen preceding the year ending March 2013, following higher levels of reporting in the previous three years.</p>

          <p class="heading-medium">Long-term reductions in violent crime supported by other data</p>
          <p>The longer-term reductions in violent crime shown by the CSEW are backed-up by recent <a href="http://digital.nhs.uk/catalogue/PUB30098">admissions data for NHS hospitals in England</a>.
          <p>Assault admissions for the year ending March 20172 (26,450) are 42% lower than the year ending March 2007 (45,890).</p>
          <p>Research conducted by the <a href="http://www.cardiff.ac.uk/__data/assets/pdf_file/0019/1162414/National-Violence-Surveillance-Network-Report-2017.pdf">Violence and Society Research Group at Cardiff University (PDF, 502KB)</a> shows similar findings.
          <p>Their annual survey of a sample of hospital emergency departments and walk-in centres in England and Wales, show that serious violence-related attendances in 2017 have fallen 39% since 2010.</p>
          <p>Similar to the latest CSEW findings, the latest data show little change in 2017 compared with 2016 (1% increase).</p>

          <p class="heading-medium">Police recorded further rises in less common types of violence</p>
          <p>Police reported a larger number of homicide, firearm crimes and knife crimes in the year to December 2017.</p>
          <div class="content-box highlight">
            <p>While the Crime Survey for England and Wales gives us a good picture of the overall trends in violent crime, it is not good at measuring some types of violence. Police recorded crime is a better measure of the higher-harm but less common types of violence.</p>
          </div>

          <h2 id="data" class="margin-top--7">Violent crime data</h2>
          <p>This page mainly reports on data from the Crime Survey for England and Wales (CSEW) and police recorded crime.</p>
          <p><a class="btn btn--primary btn--thick link--no-underline font-weight--bold" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/bulletins/crimeinenglandandwales/yearendingdecember2017/relateddata">View all data</a></p>
          <p>More information on both these sources can be found in the <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/methodologies/userguidetocrimestatisticsforenglandandwales">User guide to crime statistics for England and Wales.</a></p>

          <details role="group" class="margin-bottom--4 margin-top--1">
            <summary role="button" aria-controls="details-content-1" aria-expanded="true">
              <span class="summary">Other data used on this page</span>
            </summary>
            <div class="panel" id="details-content-1" aria-hidden="false">
              <p class="list-heading">NHS Digital</p>
              <ul>
                <li><a href="http://digital.nhs.uk/catalogue/PUB30098">Hospital Admitted Patient Care Activity, 2016-17</a></li>
                <li><a href="https://digital.nhs.uk/catalogue/PUB02533">Hospital Episode Statistics, Admitted Patient Care – England, 2006-07</a></li>
              </ul>
                <p class="list-heading">Cardiff University</p>
                <ul>
                  <li><a href="http://www.cardiff.ac.uk/__data/assets/pdf_file/0019/1162414/National-Violence-Surveillance-Network-Report-2017.pdf">Violence in England and Wales In 2017: An Accident and Emergency Perspective (PDF, 502KB)</a></li>
                </ul>
            </div>
          </details>


          <h2 id="using-data" class="margin-top--7">Using violent crime data</h2>
          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">How do we measure this?</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <p>This page is part of our quarterly <a href="../collection">Crime Collection</a>, which relies on two main sources of data.</p>
                  <p><strong>Crime Survey of England and Wales</strong></br>
                  The Crime Survey of England and Wales (CSEW) is a survey which asks people whether they have been victims of a crime over the past 12 months.</p>
                  <p><strong>Police recorded crime</strong></br>
                  Crime that has been reported to the police, and recorded as part of police casework.</p>
                  <div class="content-box highlight"><p>Police recorded crime data are not designated as National Statistics.</p></div>
                <p>More information on both these sources can be found in the <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/methodologies/userguidetocrimestatisticsforenglandandwales">User guide to crime statistics for England and Wales</a>.</p>
                <p>More information on the methodology can be found in the <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/methodologies/crimeinenglandandwalesqmi">Crime in England and Wales Quality and Methodology Information report</a>.</p>
                </div>
            </div>
          </div>

          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">What do you need to know?</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <p><strong>Strengths and limitations of the data</strong></br>
                  The Crime Survey of England and Wales (CSEW) has been consistent since 1981 and is the best source to use when looking at trends over time. It is also a better measurement of crimes which are less likely to be reported to the police, such as sexual offences.</p>
                  <p>Police recorded crime is a good measure for understanding how much work police forces are carrying out. It can be affected by changes in policing practices and victims’ willingness to report crime. </p>
                  <div class="content-box highlight">
                    <p>Police recorded crime is not a useful way to monitor crime trends, and we do not recommend using it for this. Police recorded crime data are not designated as National Statistics.</p>
                  </div>

                <p><strong>Time periods covered</strong></br>
                The Crime Survey for England and Wales data on this page are based on interviews conducted between January 2017 and December 2017, measuring peoples’ experiences of crime in the 12 months before the interview.</p>
                <p>The police recorded crime figures relate to crimes recorded by the police during the year ending December 2017 (between January 2017 and December 2017).</p>
                <p>“Latest year” (or “latest survey year”) refers to the (survey) year ending December 2017.</br>
                “Previous year” (or “previous survey year”) refers to the (survey) year ending December 2016.</p>

                </div>
            </div>
          </div>

          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">
                  National Statistic</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <div>
                <img style="float:left;" class="" src="{{ "/assets/img/national-statistics.png" | relative_url }}" alt="National Statistics logo"></div>
                  <div class="padding-left--2" style="overflow:auto;"><p>Certified by the UK Statistics Authority as compliant with its Code of Practice for Official Statistics.<br>
                  <a href="https://www.statisticsauthority.gov.uk/national-statistician/types-of-official-statistics/">Learn more</a></p></div>
                </div>
            </div>
          </div>

          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">
                  Glossary</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <p><strong>Assault with injury and assault with intent to cause serious harm</strong><br/>
                  Offences include injury resulting in permanent disability; more than minor permanent disfigurement; broken bones; fractured skull; compound fractures; substantial loss of blood; internal injury; lengthy treatment or serious psychiatric injury (based on expert evidence); and shock (when accompanied by expert psychological evidence).</p>

                <p><strong>Assault without injury</strong><br/>
                  Offences where no more than a feeling of touch or passing moment of pain is experienced by the victim.</p>

                <p><strong>Harassment offences</strong><br/>
                  Incidents where no other substantive notifiable offence exists, but when looked at as a course of conduct are likely to cause fear, alarm or distress.</p>

                <p><strong>Threats to kill</strong><br/>
                  Where an individual fears that the offender’s threat is real and may be carried out.</p>

                <p><strong>Violent crime</strong><br/>
                  Covers a range of offence types from minor assaults, such as pushing and shoving that result in no physical harm, to murder. This includes offences where the victim was intentionally stabbed, punched, kicked, pushed or jostled, as well as offences where the victim was threatened with violence whether or not there is any injury.</p>
                  <p>In published crime statistics, violent crime – both as measured by the Crime Survey for England and Wales (CSEW) and by police recorded crime – is grouped into two broad, high-level categories: “violence with injury” and “violence without injury”.</p>


                <p>A comprehensive guide to crime types and definitions can be found in the <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/methodologies/userguidetocrimestatisticsforenglandandwales#offence-types">User Guide to Crime Statistics for England and Wales</a>.</p>
              </div>
            </div>
          </div>


          <h2 id="more-pages" class="margin-top--7">More pages in this collection</h2>
          <!-- snapshots -->
          <div class="flex-grid">
            {% include snapshots/crime-overview-snapshot.html %}
            {% include snapshots/fraud-snapshot.html %}
          </div>
          <div class="flex-grid margin-top--2">
            {% include snapshots/homicide-snapshot.html %}
            {% include snapshots/weapons-snapshot.html %}
          </div>

          <!-- related links -->


          <h2 id="more-about" class="margin-top--7">More about violent crime</h2>
          <div class="content-box">
            <ul class="list--neutral margin-top--4">
              <li>
                <p><a class="font-weight--bold" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/articles/thenatureofviolentcrimeinenglandandwales/yearendingmarch2017">The nature of violent crime in England and Wales: year ending March 2017</a></p>
                <p>Long-term trends and the circumstances of violence (do not include the most recent statistics for the year ending December 2017).</p>
              </li>
              <li>
                <p><a class="font-weight--bold" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/compendium/focusonviolentcrimeandsexualoffences/yearendingmarch2015">ONS Focus on Violent Crime and Sexual Offences: Year ending March 2015</a></p>
                <p>Analysis of violent crime, based on the Crime Survey for England and Wales and police recorded crime.</p>
              </li>
            </ul>
          </div>

          <!-- contact -->
          <h2 id="contact" class="margin-top--7">Contact us</h2>
          <div class="content-box">
            <p class="margin-top--4">Mark Bangs<br>
              <a href="#">crimestatistics@ons.gov.uk</a><br>+44 (0)2075 928689</p>
          </div>

          <p class="margin-top--7">
            <a href="#top">Back to top</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
