---
layout: prototype
warning: false
search: false
primary-nav: false
secondary-nav: false
language-switch: false
footer: false
---

<div class="wrapper prototype">
  <div class="col-wrap" style="margin-bottom: 200px;">

    <div class="col col--md-one-third col--lg-one-third sticky">
          {% include sticky-nav.html %}
    </div>

    <div class="col col--md-two-thirds col--lg-two-thirds">
      <h1 id="section-1">Patterns</h1>
      <h2 id="accordian">Accordian</h2>
      {% include accordian.html %}
      {% include headline.html %}
      <h2 id="alerts">Alerts</h2>
      {% include alerts/standard-alert.html %}
      <br>
      {% include alerts/info-alert.html %}
      {% include alerts/warning-text.html %}
      {% include alerts/latest-not-latest.html %}
      {% include back-to-top.html %}
      <h2 id="breadcrumbs">Breadcrumbs</h2>
      {% include breadcrumbs.html %}
      {% include back-to-top.html %}
      <h2 id="charts">Charts</h2>
      {% include chart.html %}
      {% include back-to-top.html %}
      <h2 id="get-all-data">Get all data</h2>
      {% include get-all-data.html %}
      {% include back-to-top.html %}
      <h2 id="headings">Headings</h2>
      {% include headings.html %}
      {% include back-to-top.html %}
      <h2 id="inset-text">Inset text</h2>
      {% include inset-text.html %}
      {% include back-to-top.html %}
      <h2 id="quote">Quote</h2>
      {% include quote.html %}
      {% include back-to-top.html %}
      <h2 id="related-links">Related links</h2>
      {% include related-links.html %}
      {% include back-to-top.html %}
      <h2 id="related-statistics">Related statistics</h2>
      {% include related-statistics.html %}
      {% include back-to-top.html %}
      <h2 id="small-content-box">Small content box</h2>
      {% include small-content-box.html %}
      {% include back-to-top.html %}
      <h2 id="snapshots">Snapshots</h2>
      {% include snapshot.html %}
      {% include back-to-top.html %}
      <h2>Snapshot 2</h2>
      {% include snapshot2.html %}
      {% include back-to-top.html %}
      <h2 id="tables">Tables</h2>
      {% include tables/example-01.html %}
      {% include back-to-top.html %}
      <h2 id="toggle-content">Toggle content</h2>
      {% include toggle-content.html %}
      {% include back-to-top.html %}
      <h2 id="warning-text">Warning text</h2>
      {% include warning-text.html %}

      <a href="../sprint/5/warning-text">Warning text pattern as it appears on the ONS website</a>

      {% include back-to-top.html %}
    </div>
  </div>
</div>
