---
layout: prototype
search: true
primary-nav: true
secondary-nav: true
language-switch: false
footer: true
title: "Employment: August 2018"
---

<main id="main" role="main" tabindex="-1" class="prototype">
  <!-- breadcrumb -->
  <div id="top" class="page-neutral-intro background--astral">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <nav>
            <div class="breadcrumb">
              <ol class="breadcrumb__list margin-bottom--0">
                <li class="breadcrumb__item__white">
                  <a class="breadcrumb__link astral-link" href="https://www.ons.gov.uk/">Home</a>
                </li>
                <li class="breadcrumb__item__white">
                  <a class="breadcrumb__link astral-link" href="https://www.ons.gov.uk/employmentandlabourmarket">Employment and labour market</a>
                </li>
                <li class="breadcrumb__item__white">
                  <a class="breadcrumb__link astral-link" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork">People in work</a>
                </li>
                <li class="breadcrumb__item__white">
                  <a class="breadcrumb__link astral-link" href="../overview">Labour market</a>
                </li>
                <li class="breadcrumb__item">
                  Employment: August 2018
                </li>
              </ol>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>

  <!-- blue banner -->
  <div class="page-intro background--astral">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <h1 class="margin-bottom--1">{{ page.title }}</h1>
          <p class="margin-top--1 heading-medium font-weight--normal">Estimates of employment for the UK.</p>
        </div>
      </div>
    </div>

    <!-- latest panel  -->
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <div class="release-data">
            <p class="panel panel-small background--0"><span class="font-weight--bold font-xsmall">This page is part of the latest labour market collection</span></p>
          </div>
        </div>
      </div>
    </div>

    <!-- release information -->
    <div class=" border-top--darkastral background--astraldark-transparent">
      <div class="wrapper">
        <div class="col-wrap header-meta-wrap">
          <div class="col col--md-one-third col--lg-one-third header-meta">
            <p class="font-xxsmall">Release date: 14 August 2018</p>
          </div>
          <div class="col col--md-one-third col--lg-one-third header-meta">
            <p class="font-xxsmall">Release frequency: Monthly</p>
          </div>
          <div class="col col--md-one-third col--lg-one-third header-meta">
            <p class="font-xxsmall" style="border-right:0;">Next release: 11 September 2018</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- grey banner -->
  <div id="analysis" class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <h2>People in work shows steady increase</h2>
          <p class="font-xsmall">UK employment rate, January to March 1971 to April to June 2018, seasonally adjusted</p>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="col-wrap">
        <div class="col col--md-two-thirds col--lg-two-thirds background--white margin-bottom--3">
          <div class="padding-right--2 padding-bottom--0 padding-left--2 padding-top--4">
            <img style="width:100%" src="{{  site.baseurl }}/assets/img/charts/fraud_crime_highlight-lg.png" | relative_url }}" class="margin-bottom--3" alt="">
            <p class="font-xxsmall margin-bottom--3">Source: Labour Force Survey, Office for National Statistics</p>
          </div>
        </div>
        <div class="col col--md-one-third col--lg-one-third padding-left-md--3">
          <ul>
            <li>Lowest employment rate was 65.6% in 1983</li>
            <li>The employment rate for April to June 2018 was 75.6%</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- main content -->
  <div class="padding-bottom--6">
    <div class="wrapper">
      <div class="col-wrap">
        <!-- sticky nav -->
        <div class="col col--md-one-third col--lg-one-third sticky padding-right--1">
          <div class="">
            <h2 class="heading-xsmall margin-top--4 margin-bottom--1">On this page:</h2>
            <ul class="section-contents">
              <li>
                <a href="#analysis">Analysis of employment</a>
              </li>
              <li>
                <a href="#data">Employment data</a>
              </li>
              <li>
                <a href="#using-data">How do we measure this?</a>
              </li>
              <li>
                <a href="#using-data">What do you need to know?</a>
              </li>
              <li>
                <a href="#using-data">Glossary</a>
              </li>
              <li>
                <a href="#more-pages">More pages in this collection</a>
              </li>
              <li>
                <a href="#more-about">More about employment</a>
              </li>
              <li>
                <a href="#more-links">You may also be interested in</a>
              </li>
              <li>
                <a href="#contact">Contact us</a>
              </li>
            </ul>

            <h2 class="heading-xsmall margin-top--4 margin-bottom--1">Pages in this collection:</h2>
            <ul class="section-contents">
              <li>
                <a href="../overview">Labour market overview</a>
              </li>
              <li>
                <a class="font-weight--bold" href="../employment">Employment</a>
              </li>
              <li>
                <a href="../unemployment">Unemployment</a>
              </li>
              <li>
                <a href="../average-weekly-earnings">Average weekly earnings</a>
              </li>
              <li>
                <a href="#">Public and private sector employment</a>
              </li>
              <li>
                <a href="#">Actual hours worked</a>
              </li>
              <li>
                <a href="#">Workforce jobs</a>
              </li>
              <li>
                <a href="#">Labour disputes</a>
              </li>
              <li>
                <a href="#">Economic inactivity</a>
              </li>
              <li>
                <a href="#">Young people in the labour market</a>
              </li>
              <li>
                <a href="#">Redundancies</a>
              </li>
              <li>
                <a href="#">Vacancies</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- content -->
        <div class="col col--md-two-thirds col--lg-two-thirds">

          <p class="heading-medium">Proportion of people in work has generally increased since 2012</p>
          <p>The lowest employment rate for people was 65.6% in 1983, during the economic downturn of the early 1980s. The employment rates for people, men and women have been generally increasing since early 2012. For the latest time period, April to June 2018, the employment rate for people was 75.6%, up from 75.1% for a year earlier.</p>

          <div class="inset-text">
            <p class="panel">Employment measures the number of people aged from 16 to 64 years in paid work. It differs from the number of jobs because some people have more than one job.</p>
          </div>

          <p class="list-heading">For April to June 2018:</p>
          <ul>
            <li>75.6% of people aged from 16 to 64 years were in work, up from 75.1% for a year earlier</li>
            <li>80.1% of men aged from 16 to 64 years were in work; the employment rate for men has not been higher since February to April 1991</li>
            <li>71.0% of women aged from 16 to 64 years were in work, up from 70.5% for a year earlier</li>
          </ul>

          <p>The increase in the employment rate for women over the last few years has been partly due to ongoing changes to the State Pension age for women, resulting in fewer women retiring between the ages of 60 and 65 years.</p>

          <p>For April to June 2018, there were 32.39 million people in work, 42,000 more than for January to March 2018 and 313,000 more than for a year earlier.</p>

          <p>The following figure shows that more than half of the annual increase in the number of people in employment (313,000) was due to more women in full-time employment (170,000), with the number of men in full-time employment increasing by 101,000 over the year.</p>

          <p class="heading-small">Figure 4: Changes in people in employment in the UK between April to June 2017 and April to June 2018, seasonally adjusted</p>
          <img style="width:100%" src="{{  site.baseurl }}/assets/img/charts/weapons_firearm_chart_lg.png" | relative_url }}" class="" alt="">
          <p class="font-xsmall">Source: Labour Force Survey, Office for National Statistics</p>
          <h5 class="margin-bottom--1">Download this chart</h5>
          <div class="btn-group margin-bottom--4">
            <button class="btn btn--primary font-xsmall">
              Image
            </button>
            <button class="btn btn--primary font-xsmall">
              .CSV
            </button>
            <button class="btn btn--primary font-xsmall">
              .XLS
            </button>
          </div>

          <p class="heading-medium">Number of self-employed people falls</p>
          <p class="list-heading">Comparing the estimates for employees and self-employed people for April to June 2018 with those for a year earlier:</p>
          <ul>
            <li>employees increased by 369,000 to 27.45 million (84.8% of all people in work)</li>
            <li>self-employed people decreased by 38,000 to 4.77 million (14.7% of all people in work)</li>
          </ul>
          <div class="inset-text">
            <p class="panel">Employees and self-employed people do not account for all people in employment as there are two minor additional categories; unpaid family workers and people on government-supported training and employment programmes.</p>
          </div>
          <p class="heading-medium">Fewer workers on zero-hours contracts</p>
          <p class="list-heading">Comparing the estimates for employment by nationality (not seasonally adjusted) for April to June 2018 with those for a year earlier:</p>
          <ul>
            <li>UK nationals working in the UK increased by 332,000 to 28.76 million</li>
            <li>EU nationals working in the UK fell by 86,000 to 2.28 million (the largest annual fall since comparable records began in 1997)</li>
            <li>non-EU nationals working in the UK increased by 74,000 to 1.27 million</li>
          </ul>
          <p>For April to June 2018, there were 780,000 people (not seasonally adjusted) in employment on “zero-hours contracts” in their main job, 104,000 fewer than for a year earlier. The industrial sector showing the largest annual fall in the number of people in employment on “zero hours contracts” was human health and social work (down 62,000). Detailed estimates of people in employment on “zero-hours contracts” are available at dataset <a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/datasets/emp17peopleinemploymentonzerohourscontracts">EMP17</a>.</p>

          <h2 id="data" class="margin-top--7">Employment data</h2>
            <p>Estimates of employment, unemployment, economic inactivity, hours worked and redundancies are derived from the Labour Force Survey (LFS), a survey of households.</p>
          <p><a class="btn btn--primary btn--thick link--no-underline font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/bulletins/uklabourmarket/august2018/relateddata">View all data</a></p>
          <details role="group" class="margin-bottom--4 margin-top--1">
            <summary role="button" aria-controls="details-content-1" aria-expanded="true">
              <span class="summary">Where to find data about employment</span>
            </summary>
            <div class="panel" id="details-content-1" aria-hidden="false">
              <ul>
                <li>Employment estimates are available at <a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/datasets/employmentunemploymentandeconomicinactivityforpeopleaged16andoverandagedfrom16to64seasonallyadjusteda02sa">datasets A02 SA</a> and <a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/datasets/fulltimeparttimeandtemporaryworkersseasonallyadjustedemp01sa">EMP01 SA</a>.</li>
                <li>Estimates of employment UK and non-UK workers are available at <a href="#">Non-UK workers in the labour market</a> and at <a href="#">datasets A12</a> and <a href="#">EMP06</a>.</li>
                <li>International comparisons of employment rates are available at dataset A10.</li>
              </ul>
            </div>
          </details>

          <h2 id="using-data" class="margin-top--7">Using employment data</h2>
          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">
                  Glossary</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <p><strong>Employment</strong><br>
                Employees, self-employed people, unpaid family workers and people on government-supported training and employment programmes.</p>
                <p><strong>Unpaid family workers </strong><br>
                People who work in a family business who do not receive a formal wage or salary but benefit from the profits of that business.</p>
                <p><strong>Government-supported training and employment programmes series</strong><br>
                This does not include all people on these programmes; it only includes people engaging in any form of work, work experience or work-related training who are not included in the employees or self-employed series. People on these programmes not engaging in any form of work, work experience or work-related training are not included in the employment estimates; they are classified as unemployed or economically inactive.</p>
              </div>
            </div>
          </div>
          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">
                  How do we measure this?</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <p>The most robust estimates of short-term movements in these estimates are obtained by comparing the estimates for April to June 2018 with the estimates for January to March 2018, which were first published on 15 May 2018. This provides a more robust estimate than comparing with the estimates for March to May 2018. This is because the April and May 2018 data are included within both estimates, so effectively observed differences are those between the individual months of March and June 2018. The LFS is sampled such that it is representative of the UK population over a three- month period, not for single month periods.</p>
                </div>
            </div>
          </div>
          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">
                  What do you need to know?</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <p>Employment measures the number of people aged from 16 to 64 years in paid work. It differs from the number of jobs because some people have more than one job.</p>
                <p>Everybody aged 16 years or over is either employed, unemployed or economically inactive. The employment estimates include all people in paid work including those working part-time.</p>
                <p><strong>Accuracy and reliability of survey estimates</strong></br>
                Most of the figures come from surveys of households or businesses and are therefore estimates rather than precise figures. Further information on the labour market overview page.</p>
                <p><strong>Where to find explanatory information</strong></br>
                A <a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/methodologies/aguidetolabourmarketstatistics#abstract">Guide to labour market statistics</a>, which includes a Glossary, is available.</p>
              </div>
            </div>
          </div>
          <!-- <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">
                  National Statistic</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <div>
                <img style="float:left;" class="" src="{{  site.baseurl }}/assets/img/national-statistics.png" | relative_url }}" alt="National Statistics logo"></div>
                  <div class="padding-left--2" style="overflow:auto;"><p>Certified by the UK Statistics Authority as compliant with its Code of Practice for Official Statistics.<br>
                  <a href="https://www.statisticsauthority.gov.uk/national-statistician/types-of-official-statistics/">Learn more</a></p></div>
                </div>
            </div>
          </div> -->


          <!-- snapshots -->
          <!-- <h2 id="more-pages" class="margin-top--7">More pages in this collection</h2>
          <div class="flex-grid">
            {% include snapshots/crime-overview-snapshot.html %}
            {% include snapshots/homicide-snapshot.html %}
          </div>
          <div class="flex-grid margin-top--2">
            {% include snapshots/violent-crime-snapshot.html %}
            {% include snapshots/weapons-snapshot.html %}
          </div> -->
          <!-- related links -->


          <h2 id="more-about" class="margin-top--7">More about the labour market</h2>
          <!-- <div class="content-box">
            <ul class="list--neutral margin-top--3">
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/articles/labourmarketeconomiccommentary/latest">Labour market economic commentary</a></li>
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/articles/singlemonthlabourforcesurveyestimates/august2018">Single month Labour Force Survey estimates</a></li>
            </ul>
          </div> -->
          <div class="content-box">
            <ul class="list--neutral margin-top--4">
              <li>
                <p><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/articles/labourmarketeconomiccommentary/latest">Labour market economic commentary</a></p>
                <p>Published every month on the same day as this release.</p>
              </li>
              <li>
                <p><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/articles/singlemonthlabourforcesurveyestimates/august2018">Single month Labour Force Survey estimates</a></p>
                <p>This monthly article helps us to understand the movements in the three-month average Labour Force Survey estimates.</p>
              </li>
            </ul>
          </div>


          <h2 id="more-links" class="margin-top--7">You may also be interested in</h2>
          <div class="content-box">
            <ul class="list--neutral margin-top--4">
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/bulletins/regionallabourmarket/latest">Regional Labour market statistics release</a></li>
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/publicsectorpersonnel/bulletins/publicsectoremployment/latest">Public sector employment release</a></li>
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/bulletins/youngpeoplenotineducationemploymentortrainingneet/august2018">Young People not in Education, Employment or Training (NEET) release</a></li>
              <li class=""><a class="font-weight--bold" href="https://www.bankofengland.co.uk/statistics/research-datasets"> A millennium of macroeconomic data version 3.1</a></li>
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/articles/trendsinselfemploymentintheuk/2018-02-07">Trends in self-employment in the UK</a></li>
            </ul>
          </div>

          <!-- contact -->
          <h2 id="contact" class="margin-top--7">Contact us</h2>
          <div class="content-box">
            <p class="margin-top--4">Richard Clegg<br>
              <a href="#">labour.market@ons.gov.uk</a><br>+44 (0)1633 455400</p>
          </div>

          <p class="margin-top--7">
            <a href="#top">Back to top</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
