.text-3xl {
  font-size: 1.7rem;
  line-height: 1.3;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 1.4;
}

.text-xl {
  font-size: 1.4rem;
  line-height: 1.4;
}

.text-lg {
  font-size: 1.3rem;
  line-height: 1.4;
}

.text-md {
  font-size: 1.1rem;
  line-height: 1.4;
}

.text-base {
  font-size: 1rem;
  line-height: 1.4;
}

.text-sm {
  font-size: 0.8rem;
  line-height: 1.4;
}

@screen md {
  .text-3xl {
    font-size: 2.6rem;
  }

  .text-2xl {
    font-size: 2rem;
  }

  .text-xl {
    font-size: 1.4rem;
    line-height: 1.4;
  }

  .text-lg {
    font-size: 1.4rem;
  }

  .text-md {
    font-size: 1.2rem;
  }
}

@utilities {
  @variants responsive {
    .text-cols-2 {
      column-count: 2;
    }
    .text-cols-3 {
      column-count: 3;
    }
    .text-cols-4 {
      column-count: 4;
    }
  }
}
