<div class="mb-8">
    <table class="mb-4 border-b-2 table-auto text-base leading-loose">
        <thead class="border-shipGrey border-b-2">
            <tr>
                <th scope="col" class="text-left font-bold">{{table.title}}</th>
                <th scope="col" class="text-right font-normal">Count</th>
                <th scope="col" class="text-right font-normal" style="width: 10%">%</th>
            </tr>
        </thead>
        {% for section in table.sections %}
            <tbody class="border-t-2">
                {% if section.header %}
                    <tr class="border-shipGrey font-bold border-b">
                        {% for col in section.header %}
                            {% if loop.index0 === 0 %}
                                <th scope="row" class="text-left font-bold">{{col}}</td>
                            {% else %}
                                <td class="td-{{col|typeof}}">{{col|formatCell}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
                {% for row in section.rows %}
                    <tr class="border-iron border-b">
                        {% for col in row %}
                            <td class="td-{{col|typeof}}">{{col|formatCell}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
    </table>
    <a href="#" class="text-base">Download this dataset</a>
</div>