<div class="banner" style="background: #414042" aria-label="cookie banner" style="display: block;">
	<div class="wrapper">
		<div class="col-wrap">
			<div class="col">
				<div class="banner__body" style="margin-left: 0;">
					<div style="padding: 10px 0;">
						<span style="font-size: 19px">We use cookies to make our site simpler.</span>
						<button class="btn btn--primary" style="display: inline-block; margin: 0 10px 0 5px; font-size: 19px;">Accept cookies</button>
						<button class="btn btn--secondary" style="display: inline-block; font-size: 19px;">Cookie settings</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<header class="border-bottom--iron-sm border-bottom--iron-md">
	<a class="skiplink" href="#main" tabindex="0">
		Skip to main content
	</a>

	<div class="wrapper">
		<div class="header col-wrap">

			{% include logo.html %}

			{% if page.language-switch != false %}
				{% include language-switch.html %}
			{% endif %}

			{% if page.secondary-nav != false %}
				{% include secondary-nav.html %}
			{% endif %}

		</div>
	</div>

	{% if page.primary-nav != false %}
		{% include primary-nav.html %}
	{% endif %}


	{% if page.search != false %}
		{% include search.html %}
	{% endif %}

</header>
