<header class="border-bottom--iron-sm border-bottom--iron-md">
	<a class="skiplink" href="#main" tabindex="0">
		Skip to main content
	</a>

	<div class="wrapper">
		<div class="header col-wrap">

			{% include logo.html %}

			{% if page.language-switch != false %}
				{% include language-switch.html %}
			{% endif %}

			{% if page.secondary-nav != false %}
				{% include secondary-nav.html %}
			{% endif %}

		</div>
	</div>

	{% if page.primary-nav != false %}
		{% include primary-nav.html %}
	{% endif %}


	{% if page.search != false %}
		{% include search.html %}
	{% endif %}

</header>
