<div class="border-bottom--gallery margin-top--4">
  <div class="open-close" onclick="openAllAccordions()"><a href="">Open all</a></div>
  <div class="js-show-hide headline">
    <div class="show-hide show-hide--light">
      <div class="js-show-hide__title headline-title">
        <p class="heading-normal" style="font-weight: 700;">
          Knife crime reaches a seven-year-high</p>
      </div>
      <div class="js-show-hide__content headline-content" style="overflow: auto;">
        <p>The police recorded 39,598 offences involving a knife or sharp instrument in the year ending December 2017. This is a 22% increase compared with the previous year (32,468), and the highest number in the seven-years' of available data.</p>
        <div class="content-box highlight">
          <p>Police recorded crime data are not designated as National Statistics. Not all offences come to their attention, and reporting may be affected by changes in recording practices and police activity.</p>
        </div>
        <p>The number of knife crimes recorded has risen for the past three years. Before this, we saw a general downward trend since the year ending March 2011.</p>
        <p>"Assault with injury" and "assault with intent to cause serious harm" made up around half (49%) of all crimes involving a knife or sharp instrument. All categories of weapons crime for which we collect data showed increases.</p>
        <p>London's Metropolitan Police saw the largest increase (accounting for 48% of the total increase).</p>
        <p>Admissions data for NHS hospitals in England shows a 7% increase in assault by a sharp object. Rising from 4,054 in the year ending March 2016 to 4,351 in the following 12 months.</p>
      </div>
    </div>
  </div>
  <div class="js-show-hide">
    <div class="show-hide show-hide--light">
      <div class="js-show-hide__title headline-title">
        <p class="heading-normal" style="font-weight: 700;">
          Knife crime reaches a seven-year-high</p>
      </div>
      <div class="js-show-hide__content headline-content" style="overflow: auto;">
        <p>The police recorded 39,598 offences involving a knife or sharp instrument in the year ending December 2017. This is a 22% increase compared with the previous year (32,468), and the highest number in the seven-years' of available data.</p>
        <div class="content-box highlight">
          <p>Police recorded crime data are not designated as National Statistics. Not all offences come to their attention, and reporting may be affected by changes in recording practices and police activity.</p>
        </div>
        <p>The number of knife crimes recorded has risen for the past three years. Before this, we saw a general downward trend since the year ending March 2011.</p>
        <p>"Assault with injury" and "assault with intent to cause serious harm" made up around half (49%) of all crimes involving a knife or sharp instrument. All categories of weapons crime for which we collect data showed increases.</p>
        <p>London's Metropolitan Police saw the largest increase (accounting for 48% of the total increase).</p>
        <p>Admissions data for NHS hospitals in England shows a 7% increase in assault by a sharp object. Rising from 4,054 in the year ending March 2016 to 4,351 in the following 12 months.</p>
      </div>
    </div>
  </div>
</div>
