<details role="group" class="margin-bottom--4 margin-top--1">
  <summary role="button" aria-controls="details-content-1" aria-expanded="true">
    <span class="summary">Knife crime reaches a seven-year-high</span>
  </summary>
  <div class="panel" id="details-content-1" aria-hidden="false">
    <p>The police recorded 39,598 offences involving a knife or sharp instrument in the year ending December 2017. This is a 22% increase compared with the previous year (32,468), and the highest number in the seven-years' of available data.</p>
  </div>
</details>
