<blockquote>
  <img style="" src="{{  site.baseurl }}/assets/img/quote.png" | relative_url }}" class="margin-bottom--2" alt="">
  <p class="margin-bottom--2">Large rises in the cost of crude oil have fed through to prices paid by consumers at the pump. Air fares and ferry prices also contributed to the overall increase in inflation due to the timing of Easter. This has been partly offset by the price falls in computer games and energy costs rising less than this time last year.</p>
  <p class="font-xsmall"><span class="font-weight--bold">Mike Hardie,</span> Head of Inflation, ONS</p>
</blockquote>
