<div class="content-box">
  <h3 class="heading-medium">Heading for related links</h3>
  <ul class="list--neutral">
    <li class=""><a class="font-weight--bold" href="#">UK consumer price inflation</a></li>
    <li class=""><a class="font-weight--bold" href="#">UK labour market</a></li>
    <li class=""><a class="font-weight--bold" href="#">Weapons crime in England and Wales</a></li>
    <li class=""><a class="font-weight--bold" href="#">Are your wages keeping up with inflation?</a></li>
  </ul>
</div>
