<div class="content-box">
  <ul class="list--neutral margin-top--4">
    <li id="index-of-production">
      <p><a class="font-weight--bold" href="https://www.ons.gov.uk/economy/economicoutputandproductivity/output/bulletins/indexofproduction/previousReleases">Index of Production</a> (IoP)</p>
      <p>Movements in volume for the UK production industries: manufacturing, mining and quarrying, energy supply, and water and waste management.</p>
    </li>
    <li id="index-of-services">
      <p><a class="font-weight--bold" href="https://www.ons.gov.uk/economy/economicoutputandproductivity/output/bulletins/indexofservices/previousReleases">Index of Services</a> (IoS)</p>
      <p>Monthly movements in output for the services industries: distribution, hotels and restaurants; transport, storage and communication; business services and finance; and government and other services.</p>
    </li>
    <li id="output-construction">
      <p><a class="font-weight--bold" href="https://www.ons.gov.uk/businessindustryandtrade/constructionindustry/datasets/outputintheconstructionindustry">Output in the construction industry</a></p>
      <p class="font-xsmall">Dataset | Released on 11 June 2018</p>
      <p>Monthly construction output for Great Britain.</p>
    </li>
    <li id="retail-sales-index">
      <p><a class="font-weight--bold" href="https://www.ons.gov.uk/businessindustryandtrade/retailindustry/bulletins/retailsales/previousReleases">Retail Sales Index</a> (RSI)</p>
      <p>A first estimate of retail sales in volume and value terms.</p>
    </li>
  </ul>
</div>
