<div class="">
  <h2 class="heading-xsmall margin-top--4 margin-bottom--1">Sections:</h2>
  <ul class="section-contents">
    <li>
      <a href="#accordian">Accordian</a>
    </li>
    <li>
      <a href="#alerts">Alerts</a>
    </li>
    <li>
      <a href="#breadcrumbs">Breadcrumbs</a>
    </li>
    <li>
      <a href="#charts">Charts</a>
    </li>
    <li>
      <a href="#get-all-data">Get all data</a>
    </li>
    <li>
      <a href="#headings">Headings</a>
    </li>
    <li>
      <a href="#inset-text">Inset text</a>
    </li>
    <li>
      <a href="#quote">Quote</a>
    </li>
    <li>
      <a href="#related-links">Related links</a>
    </li>
    <li>
      <a href="#related-statistics">Related statistics</a>
    </li>
    <li>
      <a href="#small-content-box">Small content box</a>
    </li>
    <li>
      <a href="#snapshots">Snapshots</a>
    </li>
    <li>
      <a href="#tables">Tables</a>
    </li>
    <li>
      <a href="#toggle-content">Toggle content</a>
    </li>
    <li>
      <a href="#warning-text">Warning text</a>
    </li>
  </ul>
</div>
