.border--iron {
  border: 1px solid $iron;
}

.border--white {
  border: 1px solid $white;
}


.border-left--matisse {
  border-left: 7px solid $matisse;
}

.border-left--carrot {
  border-left: 7px solid $carrot;
}

.border-bottom--iron {
  border-bottom: 1px solid $iron;
}

.border-top--iron {
  border-top: 1px solid $iron;
}

.border-none {
  border: none;
}

.border-bottom--white {
    border-bottom: 1px solid $white;
}

.border--gallery {
  border: 1px solid $gallery;
}

.border-bottom--gallery {
  border-bottom: 1px solid $gallery;
}

.border-bottom--haze {
  border-bottom: 1px solid $haze;
}

.border-top--darkastral {
  border-top: 1px solid rgba(0, 0, 0, .15);
}
