// Flexbox grid
// Use the grid in the pattern library too https://onsdigital.github.io/ons-pattern-library-starter/
.flex-grid {
  display: flex;
}

.flex-col {
  flex: 1;
  margin-right: 16px;
  position: relative;
}

.flex-col:last-child {
  margin-right: 0;
}

.position-bottom {
  position: absolute;
  bottom: 0;
}
