// Add underline

.link--underline {
  text-decoration: underline;
}

.link--no-underline {
  text-decoration: none;
}

// Visited links

// A dirty pattern library class to force the visited style onto links
.visited {
  color: $indigo !important;
}

a:visited {
  color: $indigo;
}

a:hover {
  color: $link-hover-colour;
}

.astral-link, .astral-link:visited {
  color: $white;
}

a.astral-link:hover {
  color: $white;
  opacity: 0.7;
}

.js-hover-click .background--gallery a:visited,
.background--mercury.js-hover-click a:visited,
.page-content a:visited {
  color: $indigo;
}

.section__content--markdown .btn:visited {
  color: #fff;
}

.btn--primary:visited,
.page-content .btn--primary:visited {
  color: #fff;
}

// Focus

a:focus {
  outline: 3px solid $carrot;
}

summary:focus {
  outline: 3px solid $carrot;
  color: $thunder;
}

// Back links

.back-link::before {
  content: "◀ ";
}

// Buttons

.btn {
  margin-bottom: 0;
  //margin-right: 0.5em;
}

 .basic a.btn  {
   text-decoration: none;
 }

 .basic a.btn:visited  {
   color: $white;
 }

 a.btn:hover {
   text-decoration: none;
   color: $white;
 }

 .section__content--markdown a.btn {
   text-decoration: none;
 }

.btn:focus {
  outline: 3px solid $carrot;
  color: $white;
}

.sticky-nav {
  a {
    font-size: 16px;
  }
}

.section-contents a {
  font-size: 16px;
  text-decoration: none;
}

.section-contents a:hover {
    text-decoration: underline;
  }

.section-contents li:before {
  content: "-";
  float: left;
  display: block;
  width: 16px;
  margin-left: -16px;
}
