.download-options__container .js-show-hide__title button {
  width: auto;
}

.js-show-hide__title {
  display: inline-block;
  width: 100%;
  p {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
  }
  padding-left: $spacing-unit*3;

  @media (min-width: 768px){
    padding-left: $spacing-unit*4;
  }
}

.js-show-hide__button {
  padding-right: $spacing-unit*9;
}

// .js-show-hide__button {
//   padding-left: $spacing-unit*3;
//   padding-right: $spacing-unit*9;
//
//   @media (min-width: 768px){
//     padding-left: $spacing-unit*4;
//   }
// }

.js-show-hide--inline {
  display: inline;
}

.show-hide--inline {
  display: inline;
}

.js-show-hide__content {

  padding-left: $spacing-unit*3;
  padding-right: $spacing-unit*3;
  padding-top: $spacing-unit*3;

  border-top: 1px solid $iron;

  @media (min-width: 768px){
    padding-right: $spacing-unit*4;
    padding-left: $spacing-unit*4;
    padding-top: $spacing-unit*4;
  }
}

.download-options__container .show-hide__title {
  padding-right: 0;
}

.download-options__container .js-show-hide__title button {
  color:#206095;
  text-decoration: underline;
  padding: 0;
}

.download-options__container .js-show-hide__title button:focus {
  outline: 3px solid $carrot;
  color: $thunder;
}

.download-options__container .show-hide button[aria-expanded=false]:after, .download-options__container .show-hide button[aria-expanded=true]:after {
  background-image: none;
}

.show-hide-v2 {
  .js-show-hide__button {
    color: $matisse;
    text-decoration: underline;

  }
  .show-hide button:focus {
    outline: 3px solid $carrot;
  }

}

.show-hide--slim {
  .js-show-hide__button {
    padding: 0;
  }
  .show-hide__title {
    padding-right: 40px;
  }
}

.js-show-hide--slim .show-hide--slim button[aria-expanded=false]:after,
.js-show-hide--slim .show-hide--slim button[aria-expanded=true]:after {
  top: 24%;
  right:0;
}

// headline

.open-close {
  float: right;
  padding-right: $spacing-unit;
  a {
    font-size: 16px;
    text-decoration: none;
  }
}

.headline-title {
  padding-left: 0;
  border-top: 1px solid $gallery;
  //border-bottom: 1px solid $gallery;
  color: $matisse;
  .js-show-hide__button:hover, .js-show-hide__button:focus,  {
    text-decoration: none;
  }
}

.headline-title:hover {
  background-color: $alabaster;
}



.headline-title {
  .js-show-hide__button[aria-expanded=false]:after {
    background-image: url(img/icons-plus-minus.svg);
    background-position: 0 -16px;
    background-size: 16px 32px;
    height: 16px;
    width: 16px;
    top: 40%;
  }
}

.headline-title {
  .js-show-hide__button[aria-expanded=true]:after {
    background-image: url(img/icons-plus-minus.svg);
    background-position: 0 0;
    background-size: 16px 32px;
    height: 16px;
    width: 16px;
    top: 40%;
  }
}

.headline-content {
  padding-left: 0;
  padding-right: 0;
  padding-top: $spacing-unit*2;
  border-top: none;
}

.open-close {
  margin-bottom: 5px;
}

//end of headline
