caption {
  padding-bottom: 16px;
  margin-bottom: 0;
  border-bottom: 1px solid $iron;
}

td,
th {
  border-bottom: 1px solid $iron;
  text-align: left;
  line-height: 1.3;
  padding: 0.8em 1em 0.8em 0;
}

th {
  border-top: 3px solid $iron;
  border-bottom: 3px solid $iron;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

.cell--align-right {
  text-align: right;
}

.row--group-start {
  border-top: 3px solid $iron;
  border-bottom: 3px solid $iron;
}

.row--group-end {
  border-top: 3px solid $iron;
  border-bottom: 3px solid $iron;
}

sup {
  vertical-align: baseline;
}

.summary-table {
  td {
  text-align: right;
  padding-right: $spacing-unit;
  }
  td:nth-child(2),
  td:first-child {
    text-align: left;
    padding-right: $spacing-unit;
  }
  td:first-child {
    font-weight: bold;
  }
  .align-center {
    text-align: center;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
  .align-left {
    text-align: left;
  }
  .align-right {
    text-align: right;
    padding-right: $spacing-unit;
  }
  .row-bold {
    font-weight: bold;
  }
}

.header-border {
  // border-top: 3px solid black;
  border-bottom: 3px solid $iron;
}
