@include media-query($lg) {
  .align-lg--right {
    text-align: right;
  }
}

@include media-query($md) {
  .align-md--right {
    text-align: right;
  }
}

@media screen and (min-width: 768px) and (min-height: 710px) {
  .sticky {
    position: sticky;
    top: 0;
  }
}
