.warning-text {
  font-size: 16px;
  line-height: 1.31579;
  position: relative;
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 24px;
}

.warning-text__icon {
  font-weight: 700;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  padding-top: 1px;
  min-width: 38px;
  min-height: 38px;
  margin-top: -19px;
  font-size: 1.8em;
  border: 3px solid $thunder;
  border-radius: 50%;
  color: #fff;
  background: $thunder;
  line-height: 29px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.warning-text__text {
  display: block;
  margin-left: -15px;
  font-size: 16px;
  padding-left: 72px;

  @media (min-width: 768px){
    font-size: 19px;
  }
}

.warning-text__assistive {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

// The following classes are not used in the most recent prototype
// Keep them here so not to break the older iterations of the prototype

.warning-text__white {
  .warning-text__icon {
    border-color: $haze;
    background: $haze;
    color: $astral;
  }
}

.pipe {
  color: black;
  opacity: 0.3;
}
