<!--latest panel -->
<div class="background--astral padding-top--4 padding-left--2">
  <div class="wrapper">
    <div class="col-wrap">
      <div class="col">
        <div class="release-data">
          <p class="panel panel-small background--0"><span class="font-weight--bold font-xsmall">This page is part of the latest crime collection</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="col-wrap">
      <div class="col">
        <div class="release-data">
          <p class="panel panel-small background--0 font-xsmall"><span class="font-weight--bold">This is not the latest</span><span class="pipe font-weight--normal"> | </span> <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/bulletins/crimeinenglandandwales/previousReleases" class="astral-link font-weight--normal font-xsmall">view the latest crime collection</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
