<div class="warning-text">
  <span class="warning-text__icon" aria-hidden="false">!</span>
  <strong class="warning-text__text">
    <span class="warning-text__assistive">Warning</span>
    This is not the latest<span class="pipe font-weight--normal"> | </span> <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/bulletins/crimeinenglandandwales/previousReleases" class="font-weight--normal font-xsmall">view the latest crime collection</a>
  </strong>
</div>


<div class="background--astral padding-top--4 padding-left--2 margin-bottom--4" style="overflow:auto;">
  <div class="warning-text warning-text__white">
    <span class="warning-text__icon" aria-hidden="false">!</span>
    <strong class="warning-text__text">
      <span class="warning-text__assistive">Warning</span>
      This is part of the latest collection <span class="pipe font-weight--normal">|</span> <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/bulletins/crimeinenglandandwales/previousReleases" class="font-weight--normal astral-link font-xsmall">view previous collections</a>
    </strong>
  </div>
</div>
