<!-- Copy of ONS.GOV.UK with extra prototype styles included -->

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% if page.warning != false %}
      {% include banners/warning.html %}
    {% endif %}

    {% if page.header != false %}
      {% include header.html %}
    {% endif %}

    {{ content }}

    {% if page.footer != false %}
      {% include footer.html %}
    {% endif %}

  </body>

  <!--[if gt IE 8]><!-->
  <script type="text/javascript" src="https://cdn.ons.gov.uk/sixteens/{{ metadata.sixteensVersion }}/js/main.js"></script>
  <script type="text/javascript" src="/assets/scripts/app.js"></script>
  <!--<![endif]-->

</html>
