---
layout: prototype
search: false
primary-nav: false
secondary-nav: false
language-switch: false
footer: true
title: "Weapons Crime: year ending December 2017"
---

<main id="main" role="main" tabindex="-1" class="prototype">
  <!-- breadcrumb -->
  <div id="top" class="page-neutral-intro background--astral">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <nav>
            <div class="breadcrumb">
              <ol class="breadcrumb__list margin-bottom--0">
                <li class="breadcrumb__item__white">
                  <a class="breadcrumb__link astral-link" href="../collection">Crime collection: year ending December 2017</a>
                </li>
                <li class="breadcrumb__item">
                  Weapons Crime
                </li>
              </ol>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>

  <!-- blue banner -->
  <div class="page-intro background--astral">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <h1 class="margin-bottom--1">{{ page.title }}</h1>
          <p class="margin-top--1 heading-medium font-weight--normal">Weapons crime in England and Wales, involving knives, guns, and other types of weapon.</p>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="col-wrap">

        <div class="col release-data">
          <p class="font-xsmall margin-bottom--4">
            <span class="font-weight--bold">Release date:</span> 26 April 2018
            <br /> <span class="font-weight--bold">Next release:</span> 19 July 2018 (provisional)
            <br /></P>
            <p class="font-xsmall"><span class="font-weight--bold">This page is part of the latest collection</span> | <a class="font-color--white font-xsmall astral-link" href="../collection">View all pages in this collection</a> or
            <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/bulletins/crimeinenglandandwales/previousReleases" class="font-color--white font-xsmall astral-link">view previous collections</a>
        </div>

      </div>
    </div>
  </div>

  <!-- grey banner -->
  <div id="analysis" class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <h2>Police recorded 7,130 (22%) more crimes involving weapons</h2>
          <p class="font-xsmall">England and Wales, year ending March 2011 to year ending December 2017</p>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="col-wrap">
        <div class="col col--md-two-thirds col--lg-two-thirds background--white margin-bottom--3">
          <div class="padding-right--2 padding-bottom--0 padding-left--2 padding-top--4">
            <img style="width:100%" src="{{  site.baseurl }}/assets/img/charts/weapons-highlight-1-lg.png " | relative_url }}" class="margin-bottom--3" alt="">
            <p class="font-xxsmall margin-bottom--3">Source: Police recorded crime, Home Office</p>
          </div>
        </div>
        <div class="col col--md-one-third col--lg-one-third padding-left-md--3">
          <ul>
            <li>Knife crime rose 22%</li>
            <li>Gun crime rose 11%</li>
            <li>63% of the increase in gun crime was driven by rises in London and Manchester</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- main content -->
  <div class="padding-bottom--6">
    <div class="wrapper">
      <div class="col-wrap">
        <!-- sticky nav -->
        <div class="col col--md-one-third col--lg-one-third sticky padding-right--1">
          <div class="icon-box-small margin-top--3">
            <i class="icon icon-return--dark-small"></i><p><a class="font-xsmall" href="../collection">Return to collection page</a></p>
          </div>
          <div class="">
            <h2 class="heading-xsmall margin-top--4 margin-bottom--1">On this page:</h2>
            <ul class="section-contents">
              <li>
                <a href="#analysis">Analysis of weapons crime</a>
              </li>
              <li>
                <a href="#data">Weapons crime data</a>
              </li>
              <li>
                <a href="#using-data">How do we measure this?</a>
              </li>
              <li>
                <a href="#using-data">What do you need to know?</a>
              </li>
              <li>
                <a href="#using-data">Glossary</a>
              </li>
              <li>
                <a href="#more-pages">More pages in this collection</a>
              </li>
              <li>
                <a href="#more-about">More about weapons crime</a>
              </li>
              <li>
                <a href="#contact">Contact us</a>
              </li>
            </ul>

            <h2 class="heading-xsmall margin-top--4 margin-bottom--1">Pages in this collection:</h2>
            <ul class="section-contents">
              <li>
                <a href="../crime-overview">Crime overview</a>
              </li>
              <li>
                <a href="../fraud">Fraud</a>
              </li>
              <li>
                <a href="../homicide">Homicide</a>
              </li>
              <li>
                <a href="../violent-crime">Violent crime</a>
              </li>
              <li>
                <a class="font-weight--bold" href="../weapons-crime">Weapons crime</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- content -->
        <div class="col col--md-two-thirds col--lg-two-thirds">
          <!-- hide/show content -->

          <details role="group" class="margin-bottom--4 margin-top--3">
            <summary role="button" aria-controls="details-content-1" aria-expanded="true">
              <span class="summary">Knife crime reaches a seven-year-high
            </summary>
            <div class="panel" id="details-content-1" aria-hidden="false">
              <p>The police recorded 39,598 offences involving a knife or sharp instrument in the year ending December 2017. This is a 22% increase compared with the previous year (32,468), and the highest number in the seven-years' of available data.</p>
              <div class="content-box highlight">
                <p>Police recorded crime data are not designated as National Statistics. Not all offences come to their attention, and reporting may be affected by changes in recording practices and police activity.</p>
              </div>
              <p>The number of knife crimes recorded has risen for the past three years. Before this, we saw a general downward trend since the year ending March 2011.</p>
              <p>"Assault with injury" and "assault with intent to cause serious harm" made up around half (49%) of all crimes involving a knife or sharp instrument. All categories of weapons crime for which we collect data showed increases.</p>
              <p>London's Metropolitan Police saw the largest increase (accounting for 48% of the total increase).</p>
              <p>Admissions data for NHS hospitals in England shows a 7% increase in assault by a sharp object. Rising from 4,054 in the year ending March 2016 to 4,351 in the following 12 months.</p>
            </div>
          </details>

          <details role="group" class="margin-bottom--4 margin-top--1">
            <summary role="button" aria-controls="details-content-1" aria-expanded="true">
              <span class="summary">Possession of a blade or point also rose
            </summary>
            <div class="panel" id="details-content-1" aria-hidden="false">
              <p>Police recorded "possession of an article with a blade or point" offences also rose, by 33%, to 17,437 offences. This is consistent with increases seen over the last four years, and the highest figure since the series began in the year ending March 2009.</p>
            </div>
          </details>

          <details role="group" class="margin-bottom--4 margin-top--1">
            <summary role="button" aria-controls="details-content-1" aria-expanded="true">
              <span class="summary">Firearm crimes have increased for the first time since 2005
            </summary>
            <div class="panel" id="details-content-1" aria-hidden="false">
              <p class="font-xsmall">England and Wales, year ending March 2003 to year ending December 2017</p>
              <img style="width:100%" src="{{  site.baseurl }}/assets/img/charts/weapons_firearm_chart_lg.png" | relative_url }}" class="" alt="">
              <p class="font-xsmall">Source: Police recorded crime, Home Office</p>
              <h5 class="margin-bottom--1">Download this chart</h5>
              <div class="btn-group margin-bottom--4">
                <button class="btn btn--primary font-xsmall">
                      Image
                  </button>
                <button class="btn btn--primary font-xsmall">
                      .CSV
                  </button>
                <button class="btn btn--primary font-xsmall">
                      .XLS
                  </button>
              </div>
              <p>Offences involving firearms increased by 11% (to 6,604) in the year ending December 2017, compared with the previous year (5,945 offences).</p>
              <p class="list-heading">Police recorded a:</p>
              <ul>
                <li>12% increase in offences involving handguns (accounting for 46% of the overall increase)</li>
                <li>21% increase in offences involving unidentified firearms</li>
                <li>20% increase in offences involving shotguns</li>
                <li>NHS England hospital admissions data also shows increases firearm injuries. This rose from 109 admissions in the year ending March 2016 to 135 admissions in the year ending March 2017</li>
              </ul>
              <p>London's Air Ambulance Data also suggest an increase in serious offences involving a weapon. In 2017, injuries resulting from stabbings and shootings were the most common cause for a helicopter to be dispatched.</p>
            </div>
          </details>

          <!-- data -->

          <h2 id="data" class="margin-top--7">Weapons crime data</h2>
          <p>This page mainly reports on data from the Crime Survey for England and Wales (CSEW) and police recorded crime.</p>
          <p><a class="btn btn--primary btn--thick link--no-underline font-weight--bold" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/bulletins/crimeinenglandandwales/yearendingdecember2017/relateddata">View all data</a></p>
          <p>More information on both these sources can be found in the <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/methodologies/userguidetocrimestatisticsforenglandandwales">User guide to crime statistics for England and Wales</a>.</p>



          <details role="group" class="margin-bottom--4 margin-top--1">
            <summary role="button" aria-controls="details-content-1" aria-expanded="true">
              <span class="summary">Other data used on this page</span>
            </summary>
            <div class="panel" id="details-content-1" aria-hidden="false">
              <p class="list-heading">Other ONS data</p>
              <ul>
                <li><a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/datasets/offencesinvolvingtheuseofweaponsdatatables">Offences involving the use of weapons: data tables</a></li>
                <li><a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/datasets/appendixtableshomicideinenglandandwales">Homicide in England and Wales: Appendix tables</a></li>
                <li><a href="https://www.gov.uk/government/statistics/police-recorded-crime-open-data-tables">Home Office knife crime open data table</a></li>
              </ul>

              <p class="list-heading">NHS Digital</p>
              <ul>
                <li>
                <a href="http://digital.nhs.uk/catalogue/PUB30098">Hospital Admitted Patient Care Activity, 2016-17</a></li>
              </ul>

              <p class="list-heading">London Air Ambulance Data</p>
              <ul>
                <li><a href="https://londonsairambulance.co.uk/our-service/our-work/mission-maps/2017">London’s Air Ambulance Mission Maps 2017</a></li>
              </ul>

            </div>
          </details>

          <!-- accordions -->
          <h2 id="using-data" class="margin-top--7">Using weapons crime data</h2>
          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
              <div class="js-show-hide__title">
                <p class="heading-small">
                  How do we measure this?</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <p>This page is part of our quarterly <a href="../collection">Crime Collection</a>, which relies on two main sources of data.</p>
                <p><strong>Crime Survey of England and Wales</strong></br>
                The Crime Survey of England and Wales (CSEW) is a survey which asks people whether they have been victims of a crime over the past 12 months.</p>
                <p><strong>Police recorded crime</strong></br>
                Crime that has been reported to the police, and recorded as part of police casework.</p>
                <div class="content-box highlight">
                  <p>Police recorded crime data are not designated as National Statistics.</p>
                </div>
                <p>Data recorded by the police about crimes involving knives or sharp instruments are collected separately to other types of police recorded crime. </p>
                <p>More information on both these sources can be found in the <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/methodologies/userguidetocrimestatisticsforenglandandwales">User guide to crime statistics for England and Wales</a>.</p>
                <p>More information on the methodology can be found in the <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/methodologies/crimeinenglandandwalesqmi">Crime in England and Wales Quality and Methodology Information report</a>.</p>
              </div>
            </div>
          </div>
          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
              <div class="js-show-hide__title">
                <p class="heading-small">
                  What do you need to know?</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <p><strong>Strengths and limitations of the data</strong><br />
                  The Crime Survey of England and Wales (CSEW) has been consistent since 1981 and is the best source to use when looking at trends over time. It is also a better measurement of crimes which are less likely to be reported to the police, such as sexual offences.</p>
                  <p>Police recorded crime is a good measure for understanding how much work police forces are carrying out. It can be affected by changes in policing practices and victims’ willingness to report crime. </p>
                  <div class="content-box highlight">
                    <p>Police recorded crime is not a useful way to monitor crime trends, and we do not recommend using it for this. Police recorded crime data are not designated as National Statistics.</p>
                  </div>

                <p><strong>Time periods covered</strong></br>
                The Crime Survey for England and Wales data on this page are based on interviews conducted between January 2017 and December 2017, measuring peoples’ experiences of crime in the 12 months before the interview.</p>
                <p>The police recorded crime figures relate to crimes recorded by the police during the year ending December 2017 (between January 2017 and December 2017).</p>
                <p>“Latest year” (or “latest survey year”) refers to the (survey) year ending December 2017.</br>
                  “Previous year” (or “previous survey year”) refers to the (survey) year ending December 2016.</p>

                <p><strong>Reporting of knife crime can affect trends</strong></br>
                Increases in targeted police action in relation to knife crime could lead to more knife crimes being detected by Police Recorded Crime.</p>
                <p class="list-heading">It is likely that improvements in crime recording have affected some of the data in this bulletin. For example:</p>
                <ul>
                  <li>around one-third (32%) of the rise is due to an increase in possession of firearms offences with intent – these offences may have been recorded as simple possession offences previously, which are not covered by this data collection</li>
                  <li>around one-tenth (9%)of the increase is in offences involving some of the less serious weapons such as soft air weapons, BB guns, pepper spray and CS gas – it is likely that these are now included in police returns when previously they were excluded.</li>
                </ul>
                <p>At time of publication, Greater Manchester Police were reviewing their knife crime figures, therefore data should be used with caution. Data will be updated following the review.</p>
                <p>Other offences exist that are not shown in this section that may include the use of a knife or sharp instrument.</p>
              </div>
            </div>
          </div>
          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
              <div class="js-show-hide__title">
                <p class="heading-small">
                  National Statistic</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <div>
                  <img style="float:left;" class="" src="{{  site.baseurl }}/assets/img/national-statistics.png " | relative_url }}" alt="National Statistics logo"></div>
                <div class="padding-left--2" style="overflow:auto;">
                  <p>Certified by the UK Statistics Authority as compliant with its Code of Practice for Official Statistics.<br>
                    <a href="https://www.statisticsauthority.gov.uk/national-statistician/types-of-official-statistics/">Learn more</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
              <div id="glossary" class="js-show-hide__title">
                <p class="heading-small">
                  Glossary</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <p><strong>Firearms</strong><br />Crimes include shotguns; handguns; rifles; imitation weapons such as BB guns or soft air weapons; other weapons such as CS gas or pepper spray and stun guns; and unidentified weapons. These figures exclude conventional air weapons, such as air rifles.</p>
                <p><strong>Sharp instrument</strong><br />A sharp instrument is any object that pierces the skin (or in the case of a threat, is capable of piercing the skin), for example, a broken bottle.</p>
                <p><strong>Assault with injury and assault with intent to cause serious harm</strong></br>
                Offences include injury resulting in permanent disability; more than minor permanent disfigurement; broken bones; fractured skull; compound fractures; substantial loss of blood; internal injury; lengthy treatment or serious psychiatric injury (based on expert evidence); and shock (when accompanied by expert psychological evidence).</p>
                <p><strong>Possession of weapons</strong></br>
                Includes possession of firearms with intent, possession of firearms offences, possession of other weapons, possession of article with blade or point.</p>
                <p>A comprehensive guide to crime types and definitions can be found in the <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/methodologies/userguidetocrimestatisticsforenglandandwales#offence-types">User Guide to Crime Statistics for England and Wales</a>.</p>
              </div>
            </div>
          </div>

          <!-- more pages -->

          <h2 id="more-pages" class="margin-top--7">More pages in this collection</h2>
          <!-- snapshots -->
          <div class="flex-grid">
            {% include snapshots/crime-overview-snapshot.html %}
            {% include snapshots/fraud-snapshot.html %}
          </div>
          <div class="flex-grid margin-top--2">
            {% include snapshots/homicide-snapshot.html %}
            {% include snapshots/violent-crime-snapshot.html %}
          </div>

          <!-- related links -->


          <h2 id="more-about" class="margin-top--7">More about weapons crime</h2>
          <div class="content-box">
            <ul class="list--neutral margin-top--4">
              <li>
                <p><a class="font-weight--bold" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/articles/thenatureofviolentcrimeinenglandandwales/yearendingmarch2017">The nature of violent crime in England and Wales: year ending March 2017</a></p>
                <p>Long-term trends and the circumstances of violence (do not include the most recent statistics for the year ending December 2017.</p>
              </li>
              <li>
                <p><a class="font-weight--bold" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/compendium/focusonviolentcrimeandsexualoffences/yearendingmarch2015">ONS Focus on Violent Crime and Sexual Offences: Year ending March 2015</a></p>
                <p>Analysis of violent crime, based on the Crime Survey for England and Wales and police recorded crime.</p>
              </li>
            </ul>
          </div>

          <!-- contact -->
          <h2 id="contact" class="margin-top--7">Contact us</h2>
          <div class="content-box">
            <p class="margin-top--4">Mark Bangs<br>
              <a href="#">crimestatistics@ons.gov.uk</a><br>+44 (0)2075 928689</p>
          </div>

          <p class="margin-top--7">
            <a href="#top">Back to top</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
