---
layout: prototype
search: true
primary-nav: true
secondary-nav: true
language-switch: false
footer: true
title: "Unemployment: August 2018"
---

<main id="main" role="main" tabindex="-1" class="prototype">
  <!-- breadcrumb -->
  <div id="top" class="page-neutral-intro background--astral">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <nav>
            <div class="breadcrumb">
              <ol class="breadcrumb__list margin-bottom--0">
                <li class="breadcrumb__item__white">
                  <a class="breadcrumb__link astral-link" href="https://www.ons.gov.uk/">Home</a>
                </li>
                <li class="breadcrumb__item__white">
                  <a class="breadcrumb__link astral-link" href="https://www.ons.gov.uk/employmentandlabourmarket">Employment and labour market</a>
                </li>
                <li class="breadcrumb__item__white">
                  <a class="breadcrumb__link astral-link" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork">People in work</a>
                </li>
                <li class="breadcrumb__item__white">
                  <a class="breadcrumb__link astral-link" href="../overview">Labour market</a>
                </li>
                <li class="breadcrumb__item">
                  Unemployment: August 2018
                </li>
              </ol>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>

  <!-- blue banner -->
  <div class="page-intro background--astral">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <h1 class="margin-bottom--1">{{ page.title }}</h1>
          <p class="margin-top--1 heading-medium font-weight--normal">Estimates of unemployment for the UK.</p>
        </div>
      </div>
    </div>

    <!-- latest panel  -->
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <div class="release-data">
            <p class="panel panel-small background--0"><span class="font-weight--bold font-xsmall">This page is part of the latest labour market collection</span></p>
          </div>
        </div>
      </div>
    </div>

    <!-- release information -->
    <div class=" border-top--darkastral background--astraldark-transparent">
      <div class="wrapper">
        <div class="col-wrap header-meta-wrap">
          <div class="col col--md-one-third col--lg-one-third header-meta">
            <p class="font-xxsmall">Release date: 14 August 2018</p>
          </div>
          <div class="col col--md-one-third col--lg-one-third header-meta">
            <p class="font-xxsmall">Release frequency: Monthly</p>
          </div>
          <div class="col col--md-one-third col--lg-one-third header-meta">
            <p class="font-xxsmall" style="border-right:0;">Next release: 11 September 2018</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- grey banner -->
  <div id="analysis" class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <h2>Unemployment rate is at lowest since the mid-1970s</h2>
          <p class="font-xsmall">January to March 1971 to April to June 2018, seasonally adjusted</p>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="col-wrap">
        <div class="col col--md-two-thirds col--lg-two-thirds background--white margin-bottom--3">
          <div class="padding-right--2 padding-bottom--0 padding-left--2 padding-top--4">
            <img style="width:100%" src="{{  site.baseurl }}/assets/img/charts/fraud_crime_highlight-lg.png" | relative_url }}" class="margin-bottom--3" alt="">
            <p class="font-xxsmall margin-bottom--3">Source: Labour Force Survey, Office for National Statistics</p>
          </div>
        </div>
        <div class="col col--md-one-third col--lg-one-third padding-left-md--3">
          <blockquote class="header-quote">
            <img style="" src="{{  site.baseurl }}/assets/img/quote.png" | relative_url }}" class="margin-bottom--2" alt="">
            <p class="margin-bottom--2">In April to June 2018 there were 1.36 million unemployed people, 65,000 fewer than for January to March 2018 and 124,000 fewer than a year earlier.</p>
            <p class="font-xsmall"><span class="font-weight--bold">Rob Kent Smith,</span> Head of National Accounts</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <!-- main content -->
  <div class="padding-bottom--6">
    <div class="wrapper">
      <div class="col-wrap">
        <!-- sticky nav -->
        <div class="col col--md-one-third col--lg-one-third sticky padding-right--1">
          <div class="">
            <h2 class="heading-xsmall margin-top--4 margin-bottom--1">On this page:</h2>
            <ul class="section-contents">
              <li>
                <a href="#analysis">Analysis of unemployment</a>
              </li>
              <li>
                <a href="#data">Unmployment data</a>
              </li>
              <li>
                <a href="#using-data">How do we measure this?</a>
              </li>
              <li>
                <a href="#using-data">What do you need to know?</a>
              </li>
              <li>
                <a href="#using-data">Glossary</a>
              </li>
              <li>
                <a href="#more-pages">More pages in this collection</a>
              </li>
              <li>
                <a href="#more-about">More about unmployment</a>
              </li>
              <li>
                <a href="#more-links">You may also be interested in</a>
              </li>
              <li>
                <a href="#contact">Contact us</a>
              </li>
            </ul>

            <h2 class="heading-xsmall margin-top--4 margin-bottom--1">Pages in this collection:</h2>
            <ul class="section-contents">
              <li>
                <a href="../overview">Labour market overview</a>
              </li>
              <li>
                <a href="../employment">Employment</a>
              </li>
              <li>
                <a class="font-weight--bold" href="../unemployment">Unemployment</a>
              </li>
              <li>
                <a href="../average-weekly-earnings">Average weekly earnings</a>
              </li>
              <li>
                <a href="#">Public and private sector employment</a>
              </li>
              <li>
                <a href="#">Actual hours worked</a>
              </li>
              <li>
                <a href="#">Workforce jobs</a>
              </li>
              <li>
                <a href="#">Labour disputes</a>
              </li>
              <li>
                <a href="#">Economic inactivity</a>
              </li>
              <li>
                <a href="#">Young people in the labour market</a>
              </li>
              <li>
                <a href="#">Redundancies</a>
              </li>
              <li>
                <a href="#">Vacancies</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- content -->
        <div class="col col--md-two-thirds col--lg-two-thirds">

          <p class="heading-medium">UK unemployment continues to fall</p>
          <p><a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/methodologies/aguidetolabourmarketstatistics#unemployment">Unemployment</a> measures people without a job who have been actively seeking work within the last four weeks and are available to start work within the next two weeks.</p>

          <div class="inset-text">
            <p class="panel">The unemployment rate is not the proportion of the total population who are unemployed. It is the proportion of the economically active population (those in work plus those seeking and available to work) who are unemployed.</p>
          </div>

          <p>As shown in our main chart (which shows unemployment rates for people, men and women), the lowest unemployment rate for people since comparable records began in 1971 was 3.4% in late 1973 to early 1974 and the highest rate, 11.9%, was in 1984 during the economic downturn of the early 1980s. The unemployment rate for people for the latest time period, April to June 2018, was 4.0%, the lowest since the mid-1970s.</p>

          <p class="heading-small">The longer picture for UK unemployment rates (people aged 16 years and over)</p>
          <p class="font-xsmall">April to June 2013 to April to June 2018, seasonally adjusted</p>
          <img style="width:100%" src="{{  site.baseurl }}/assets/img/charts/weapons_firearm_chart_lg.png" | relative_url }}" class="" alt="">
          <p class="font-xsmall">Source: Labour Force Survey, Office for National Statistics</p>
          <h5 class="margin-bottom--1">Download this chart</h5>
          <div class="btn-group margin-bottom--4">
            <button class="btn btn--primary font-xsmall">
              Image
            </button>
            <button class="btn btn--primary font-xsmall">
              .CSV
            </button>
            <button class="btn btn--primary font-xsmall">
              .XLS
            </button>
          </div>

          <p class="list-heading">For April to June 2018:</p>
          <ul>
            <li>the unemployment rate for people was 4.0%; it has not been lower since December 1974 to February 1975</li>
            <li>the unemployment rate for men was 4.0%; it has not been lower since April to June 1975</li>
            <li>the unemployment rate for women was 4.0%; the lowest since comparable records began in 1971</li>
          </ul>

          <p class="list-heading">For April to June 2018, there were:</p>
          <ul>
            <li>1.36 million unemployed people, 124,000 fewer than for a year earlier and the lowest since November 1975 to January 1976</li>
            <li>721,000 unemployed men, 97,000 fewer than for a year earlier and the lowest since August to October 1975</li>
            <li>639,000 unemployed women, 27,000 fewer than for a year earlier and the lowest since September to November 2005</li>
          </ul>

          <p class="list-heading">Looking at unemployment by how long people have been out of work and seeking work, for April to June 2018, there were:</p>
          <ul>
            <li>795,000 people who had been unemployed for up to six months, 81,000 fewer than for a year earlier</li>
            <li>209,000 people who had been unemployed for between six months and one year, 26,000 fewer than for a year earlier</li>
            <li>356,000 people who had been unemployed for over one year, 18,000 fewer than for a year earlier</li>
          </ul>

          <h2 id="data" class="margin-top--7">Unemployment data</h2>
          <p><a class="btn btn--primary btn--thick link--no-underline font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/bulletins/uklabourmarket/august2018/relateddata">View all data</a></p>
          <details role="group" class="margin-bottom--4 margin-top--1">
            <summary role="button" aria-controls="details-content-1" aria-expanded="true">
              <span class="summary">Where to find data about unemployment</span>
            </summary>
            <div class="panel" id="details-content-1" aria-hidden="false">
              <ul>
                <li>Unemployment estimates for the UK are available in <a href="http://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/datasets/unemploymentbyageanddurationseasonallyadjustedunem01sa">dataset UNEM01 SA</a>.</li>
                <li>Estimates of employment UK and non-UK workers are available at <a href="#">Non-UK workers in the labour market</a> and at <a href="#">datasets A12</a> and <a href="#">EMP06</a>.</li>
                <li>Historic estimates of unemployment (which do not have National Statistics status) have been published by the Bank of England in the spreadsheet <a href="https://www.bankofengland.co.uk/statistics/research-datasets">A millennium of macroeconomic data version 3.1</a> (in worksheets A49 and A50).</li>
                <li>International comparisons of employment rates are available at dataset A10.</li>
              </ul>
            </div>
          </details>

          <h2 id="using-data" class="margin-top--7">Using employment data</h2>
          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">
                  Glossary</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <p><strong>Unemployment</strong><br>
                The number of unemployed people in the UK is measured through the Labour Force Survey (LFS) following the internationally agreed definition recommended by the International Labour Organisation (ILO) – an agency of the United Nations. Unemployed people are without a job, have actively sought work in the last four weeks and are available to start work in the next two weeks; or are out of work, have found a job and are waiting to start it in the next two weeks</p>
                <p><strong>Unemployment rate</strong><br>
                The headline unemployment rate is calculated by dividing the unemployment level for those aged 16 and over by the total number of economically active people aged 16 and over. Economically active is defined as those in employment plus those who are unemployed.</p>
              </div>
            </div>
          </div>
          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">
                  How do we measure this?</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <p>The unemployment rate is not the proportion of the total population who are unemployed. It is the proportion of the economically active population (those in work plus those seeking and available to work) who are unemployed. This follows <a href="http://www.ilo.org/global/statistics-and-databases/standards-and-guidelines/resolutions-adopted-by-international-conferences-of-labour-statisticians/WCMS_230304/lang--en/index.htm">guidelines specified by the International Labour Organisation</a> and it ensures that UK unemployment statistics are broadly comparable with those published by other countries.</p>
                </div>
            </div>
          </div>
          <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">
                  What do you need to know?</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <p>People not working are classed as unemployed if they have been looking for work within the last four weeks and are able to start work within the next two weeks. A common misconception is that the unemployment statistics are a count of people on benefits; this is not the case as they include unemployed people not claiming benefits.</p>
                <p>Jobless people who have not been looking for work within the last four weeks or who are unable to start work within the next two weeks are classed as economically inactive. Examples of economically inactive people include people not looking for work because they are students, looking after the family or home, because of illness or disability or because they have retired.</p>
                <p><strong>Where to find explanatory information</strong><br>
                <a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/methodologies/aguidetolabourmarketstatistics#abstract">A Guide to labour market statistics</a>, which includes a Glossary, is available.</p>
              </div>
            </div>
          </div>
          <!-- <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">
                  National Statistic</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <div>
                <img style="float:left;" class="" src="{{  site.baseurl }}/assets/img/national-statistics.png" | relative_url }}" alt="National Statistics logo"></div>
                  <div class="padding-left--2" style="overflow:auto;"><p>Certified by the UK Statistics Authority as compliant with its Code of Practice for Official Statistics.<br>
                  <a href="https://www.statisticsauthority.gov.uk/national-statistician/types-of-official-statistics/">Learn more</a></p></div>
                </div>
            </div>
          </div> -->


          <!-- snapshots -->
          <!-- <h2 id="more-pages" class="margin-top--7">More pages in this collection</h2>
          <div class="flex-grid">
            {% include snapshots/crime-overview-snapshot.html %}
            {% include snapshots/homicide-snapshot.html %}
          </div>
          <div class="flex-grid margin-top--2">
            {% include snapshots/violent-crime-snapshot.html %}
            {% include snapshots/weapons-snapshot.html %}
          </div> -->
          <!-- related links -->


          <h2 id="more-about" class="margin-top--7">More about the labour market</h2>
          <!-- <div class="content-box">
            <ul class="list--neutral margin-top--3">
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/articles/labourmarketeconomiccommentary/latest">Labour market economic commentary</a></li>
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/articles/singlemonthlabourforcesurveyestimates/august2018">Single month Labour Force Survey estimates</a></li>
            </ul>
          </div> -->
          <div class="content-box">
            <ul class="list--neutral margin-top--4">
              <li>
                <p><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/articles/labourmarketeconomiccommentary/latest">Labour market economic commentary</a></p>
                <p>Published every month on the same day as this release.</p>
              </li>
              <li>
                <p><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/articles/singlemonthlabourforcesurveyestimates/august2018">Single month Labour Force Survey estimates</a></p>
                <p>This monthly article helps us to understand the movements in the three-month average Labour Force Survey estimates.</p>
              </li>
            </ul>
          </div>


          <h2 id="more-links" class="margin-top--7">You may also be interested in</h2>
          <div class="content-box">
            <ul class="list--neutral margin-top--4">
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/bulletins/youngpeoplenotineducationemploymentortrainingneet/august2018">Young People not in Education, Employment or Training (NEET) release</a></li>
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/bulletins/workingandworklesshouseholds/latest">Working and workless households in the UK</a></li>
            </ul>
          </div>

          <!-- contact -->
          <h2 id="contact" class="margin-top--7">Contact us</h2>
          <div class="content-box">
            <p class="margin-top--4">Richard Clegg<br>
              <a href="#">labour.market@ons.gov.uk</a><br>+44 (0)1633 455400</p>
          </div>

          <p class="margin-top--7">
            <a href="#top">Back to top</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
