<table class="table-v2 margin-top--2 margin-bottom--6">
  <tbody>
    <tr>
      <th>Year</th>
      <th class="cell--align-right">UK Population</th>
      <th class="cell--align-right">0 to 15 years (%)</th>
      <th class="cell--align-right">16 to 64 years (%)</th>
      <th class="cell--align-right">65 years and over (%)</th>
    </tr>
    <tr>
      <td>1975</td>
      <td class="cell--align-right">56,226,000</td>
      <td class="cell--align-right">24.9</td>
      <td class="cell--align-right">61.0</td>
      <td class="cell--align-right">14.1</td>
    </tr>
    <tr>
      <td>1985</td>
      <td class="cell--align-right">56,554,000</td>
      <td class="cell--align-right">20.7</td>
      <td class="cell--align-right">64.1</td>
      <td class="cell--align-right">15.2</td>
    </tr>

  </tbody>
</table>
