<!-- Copy of ONS.GOV.UK with extra prototype styles included -->

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% if page.warning != false %}
      {% include banners/warning.html %}
    {% endif %}

    {% if page.header != false %}
      {% include header.html %}
    {% endif %}



    {{ content }}

    {% if page.footer != false %}
      {% include footer.html %}
    {% endif %}

  </body>

  <!--[if gt IE 8]><!-->
  <script type="text/javascript" src="https://cdn.ons.gov.uk/sixteens/1f354a7/js/main.js"></script>
  <script type="text/javascript" src="https://beta.ons.gov.uk/js/app.js"></script>
  <!--<![endif]-->

</html>
