---
layout: prototype
warning: true
---
<script>
    window.__regions = {{regions|dump|safe}}
</script>

{% set breadcrumbs = [
    {
        href: "/prototypes/",
        title: "Home"
    }, {
        href: "/prototypes/geography/england/",
        title: "England"
    }
] %}

<div style="height: 0; padding-bottom: 35%; position: relative; overflow: hidden">
    <div id='map' style='left:0; top:0; height:100%; width:100%; position:absolute;'></div>
</div>

<div class="wrapper prototype">
    {% include "breadcrumbs.njk" %}

    <h1 class="margin-top--2 margin-bottom--4">England</h1>
    <div class="col-wrap margin-bottom--8">
        <div class="col col--md-one-third col--lg-one-third">
            <ul style="list-style: none; margin: 0; padding: 0;">
                {% for region in regions %}
                    <li style="margin: 0; padding: 0">
                        <a style="font-size: 16px;" href="/prototypes/geography/{{region.slug}}">{{region.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col col--md-two-thirds col--lg-two-thirds"></div>
    </div>
</div>