---
layout: prototype
warning: true
---

{% set breadcrumbs = false %}
{% set children = countries %}
{% set title = "United Kingdom" %}

<div class="mt-8">
    {% include "./includes/area.njk" %}
</div>